extends base

- load staticfiles
- block title
| Welcome, {{ user.get_full_name }}
- endblock

- block include

- endblock

- block content
.container-fluid
	.row
		.col-md-4
			a(href="{% url 'analytics' %}")
				.well(style="background-color: #44b6ae; padding: 0 0 0 0;")
					.row
						.col-md-5
							.visual
								i.fa.fa-twitter.fa-fw(style="font-size: 8em; opacity: 0.3; color: white;")
						.col-md-7.text-right
							.number(style='font-size: 3.4em; text-align: right; font-weight: 300; color: white;')
								| {{ new_followers }}
							.details(style='font-size: 1.2em; color: white;')
									| New followers
		.col-md-4
			a(href="{% url 'analytics' %}")
				.well(style="background-color: #e35b5a; padding: 0 0 0 0;")
					.row
						.col-md-5
							.visual
								i.fa.fa-users.fa-fw(style="font-size: 8em; opacity: 0.3; color: white;")
						.col-md-7.text-right
							.number(style='font-size: 3.4em; text-align: right; font-weight: 300; color: white;')
								| {{ potential_customers }}
							.details(style='font-size: 1.2em; color: white;')
								| Potential customers		
		.col-md-4
				.well(style="background-color: #8775a7; padding: 0 0 0 0;")
					.row
						.col-md-5
							.visual
								i.fa.fa-dollar.fa-fw(style="font-size: 8em; opacity: 0.3; color: white;")
						.col-md-7.text-right
							.number(style='font-size: 3.4em; text-align: right; font-weight: 300; color: white;')
								| ${{ money_saved }}
							.details(style='font-size: 1.2em; color: white;')
								| Saved on twitter ads
	hr.divider
	.row
		.col-md-4
			a(href="{% url 'my_hashtags' %}")
				.well(style="background-color: #8775a7; padding: 0 0 0 0;")
					.row
						.col-md-5
							.visual
								i.fa.fa-slack.fa-fw(style="font-size: 8em; opacity: 0.3; color: white;")
						.col-md-7.text-right
							.number(style='font-size: 3.4em; text-align: right; font-weight: 300; color: white;')
								| {{ user.hashtags.all.count }}
							.details(style='font-size: 1.2em; color: white;')
									| Hashtags
		.col-md-4
			a(href="{% url 'my_locations' %}")
				.well(style="background-color: #44b6ae; padding: 0 0 0 0;")
					.row
						.col-md-5
							.visual
								i.fa.fa-map-marker.fa-fw(style="font-size: 8em; opacity: 0.3; color: white;")
						.col-md-7.text-right
							.number(style='font-size: 3.4em; text-align: right; font-weight: 300; color: white;')
								| {{ user.locations.all.count }}
							.details(style='font-size: 1.2em; color: white;')
								| Locations	
		.col-md-4
				a(href="{% url 'my_accounts' %}")
					.well(style="background-color: #e35b5a; padding: 0 0 0 0;")
						.row
							.col-md-5
								.visual
									i.fa.fa-users.fa-fw(style="font-size: 8em; opacity: 0.3; color: white;")
							.col-md-7.text-right
								.number(style='font-size: 3.4em; text-align: right; font-weight: 300; color: white;')
									| {{ user.accounts.all.count }}
								.details(style='font-size: 1.2em; color: white;')
									| Accounts
		.col-md-4
			a(href="{% url 'my_lists' %}")
				.well(style="background-color: #e35b5a; padding: 0 0 0 0;")
					.row
						.col-md-5
							.visual
								i.fa.fa-users.fa-fw(style="font-size: 8em; opacity: 0.3; color:white;")
						.col-md-7.text-right
							.number(style="font-size: 3.4em; color:white; font-weight:300;")
								| {{user.twitter_lists.all.count}}
							.details(style="font-size:1.2em; color:white;")
								| Twitter Lists
		.col-md-4
			a(href="{% url 'my_influencers' %}")
				.well(style="background-color: #e35b5a; padding: 0 0 0 0;")
					.row
						.col-md-5
							.visual
								i.fa.fa-users.fa-fw(style="font-size: 8em; opacity: 0.3; color:white;")
						.col-md-7.text-right
							.number(style="font-size: 3.4em; color:white; font-weight:300;")
								| {{user.influencers.all.count}}
							.details(style="font-size:1.2em; color:white;")
								| Influencers
		.col-md-4
			.well(style="background-color:#44b6ae; padding: 0 0 0 0;")
				.row
					.col-md-5
						.visual
							i.fa.fa-heart.fa-fw(style="font-size:8em; opacity: 0.3; color:white;")
					.col-md-7.text-right
						.number(style="font-size:3.4em; color:white; font-weight:300;")
							| {{tweets_favorited}}
						.details(style="font-size:1.2em; color:white;")
							| Tweets Favorited
	.row
		.col-md-6
			.panel.panel-default.content
				.panel-body
					p.lead.content-header Latest Favorites
					p.text-muted Tweets Flock has Favorited Recently.
					.table-responsive
						table.table(data-toggle="table")
							{% for i in favorites %}
							tr
								td(style="width:65%; font-size:1.2em; padding:0 0 0 0;") {{i}}
							{%endfor%}
		.col-md-6
			.panel.panel-default.content
				.panel-body
					p.lead.content-header Latest Friends
					p.text-muted People flock has followed recently.
					.table-responsive
						table.table(data-toggle="table")
							{% for i in friends %}
							tr
								td {{i}}
							{%endfor%}




- endblock
