extends base
- load staticfiles

- block title
| My Lists
- endblock

- block include
link(rel='stylesheet', href="{% static 'select2/select2.css' %}")
script(type='text/javascript', src="{% static 'select2/select2.js' %}")
script.
	$(function() {
		var fisk = '{{list_owners|safe}}';
		console.log(fisk);
		$('#list-owner-input').select2({
			tags: {{ list_owners|safe}},
			tokenSeparators: [",", " "],

			});
		});
- endblock

- block content
.container
	.row
		.col-md-4
			.panel.panel-default.content.text-center
				.panel-body(style = "min-height: 300px;")
					p.text-muted.content-header.lead
						i.fa.fa-list
						| My List Owners
					hr.divider
					p.text-muted Seperate list owners with a comma
					form#list-owner-form(method='POST', action="{% url 'my_lists' %}")
						-csrf_token
						.form-group
							{{list_owner}}
						.form-group
							button.btn.btn-info.btn-lg.form-submit(type="submit")
								i.fa.fa-lists
								| Save Lists


- endblock
