extends base
- load staticfiles

- block title
| My Lists
- endblock

- block include
link(rel='stylesheet', href="{% static 'select2/select2.css' %}")
script(type='text/javascript', src="{% static 'select2/select2.js' %}")
script.
	$(function() {
		$('#list-owner-input').select2({
			tags: [{{list_owner}}],
			placeholder: "Enter a Twitter handle and we'll fetch his lists.",
			width:'300',
			tokenSeparators: [",", " "],
			});
		});

- endblock

- block content
.container
	.row
		.col-md-4
			.panel.panel-default.content.text-center
				.panel-body(style = "min-height: 300px;")
					p.text-muted.content-header.lead
						i.fa.fa-list
						| My List Owners
					hr.divider
					p.text-muted Seperate list owners with a comma
					form#list-owner-form(method='POST', action="{% url 'my_lists' %}")
						-csrf_token
						.form-group
							input#list-owner-input(type="hidden", name='TwitterListOwner', value="{{list_owner}}")
						.form-group
							button.btn.btn-info.btn-lg.form-submit(type="submit")
								i.fa.fa-lists
								| Save Lists


- endblock
