extends base
- load staticfiles

- block title
| My Lists
- endblock

- block include
link(rel='stylesheet', href="{% static 'select2/select2.css' %}")
script(type='text/javascript', src="{% static 'select2/select2.js' %}")
script.
	$(function() {
		var fisk = '{{lists|safe}}';
		console.log(fisk);
		$('#list-member-input').select2({
			tags: {{ all_lists | safe }},
			tokenSeparators: [",", ""],

			});
		});
- endblock

- block content
.container
	.row
		.col-md-12
			.panel.panel-default.content.text-center
				.panel-body(style = "min-height: 300px;")
					p.text-muted.content-header.lead
						i.fa.fa-list
						| Your Lists
					hr.divider
					p.text-muted Seperate lists with a comma
					form#list-form(method = 'POST', action = "{%'url my_lists'%}")
						-csrf_token
						.form-group
							input#list-member-input(type = 'hidden' name="lists", value = "{{% lists|safe' }}", style= "width: 100%;")
						.form-group
							button.btn.btn-info.btn-lg.form-submit(type ="submit")
								i.fa.fa-lists
								| Save Lists


- endblock
