extends base
- load staticfiles
- block title
| Add a Job
- endblock
- block include
- endblock
mixin panel(title, description)
	.row
		.col-md-12
			.panel.panel-default.content
				.panel-body
					p.lead.content-header(style="text-align:center;")
						i.fa.fa-twitter.fa-fw
						| &nbsp; {{title}}
					p.text-muted(style="text-align:center;")
						| {{description}}
						a(href="#", style="padding-left:3px;") Here.
mixin form(form_name)
		.form-group
			form(role='form', method='POST')
				input(type="hidden", name="{{form_name}}")
			button.btn.btn-info.btn-lg.form-submit(style="text-align:center; margin-left:40%;", type="submit", value="submit") Select This One


-block content
.container-fluid
	+panel("Put Your Social Media Account On Auto-Pilot.", "Flock will take care of everything for you. Learn More")
	p.text-primary(style="text-align:center;") or
		+form("Auto-Pilot")
	+panel("Only start actions when an event happens.", " You control when Flock runs. Learn More")
		+form('OnEvent')


-endblock content
