extends base
- load staticfiles
- block title
| Add a Job
- endblock
- block include
- endblock

-block content
.container-fluid
	.row
		.col-md-12
			.panel.panel-default.content
				.panel-body
					p.lead.content-header
						i.fa.fa-twitter.fa-fw
						| &nbsp; Put your SocialMedia Account on Auto-Pilot
					p.text-muted
						| Putting your account on auto-pilot means that Flock will handle everything for you. Learn more
						a(href="#") here.

-endblock content

