extends base
- load staticfiles
- block title
| Add a Job
- endblock
- block include
- endblock

-block content
.container-fluid
	- mixin panel(title, description)
	.row
		.col-md-12
			.panel.panel-default.content
				.panel-body
					p.lead.content-header
						i.fa.fa-twitter.fa-fw
						| &nbsp; = title
					p.text-muted
						| = description
						a(href="#", style="padding-left:3px;") Here.

+panel("Put your social media account on auto-pilot", "Putting your socialmedia account on auto-pilot means that Flock will take care of everything for you. Learn More")

-endblock content

