extends base
- load staticfiles
- block title
| Add a Job
- endblock
- block include
- endblock
mixin panel(title, description)
	.row
		.col-md-12
			.panel.panel-default.content
				.panel-body
					p.lead.content-header(style="text-align:center;")
						i.fa.fa-twitter.fa-fw
						| &nbsp; {{title}}
					p.text-muted(style="text-align:center;")
						| {{description}}
						a(href="#", style="padding-left:3px;") Here.
					button.btn.btn-info.btn-lg.form-submit Select This One
-block content
.container-fluid
	+panel("Put Your Social Media Account On Auto-Pilot.", "By putting your socialmedia account on auto-pilot Flock takes care of everything for you. Learn More")
	p.text-primary(style="text-align:center;") or
	+panel("Schedule actions to take place when an event happens.", "Just select an event below and tell us what should happen. Learn More")
	


-endblock content
