extends base
- load staticfiles
- block title
| Add a Job
- endblock
- block include
- endblock

-block content
.container-fluid
	.row
		.col-md-12
			.panel.panel-default.content
				.panel-body
					.table-responsive
						table.table
							thead
								tr
									th Event
									th Action
									th Number

-endblock content

