extends base
- load staticfiles
- block title
| Add a Job
- endblock
- block include
- endblock
mixin panel(title, description)
	var title = title
	.row
		.col-md-12
			.panel.panel-default.content
				.panel-body
					p.lead.content-header
						i.fa.fa-twitter.fa-fw
						| &nbsp; {{title}}
					p.text-muted
						| description
						a(href="#", style="padding-left:3px;") Here.
-block content
.container-fluid
	+panel("testing")
	+panel
	


-endblock content
